* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #5b7bef;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    padding: 50px 0;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .single-card {
        background-color: white;
        padding: 15px;
        width: calc((100% / 4) - 20px);
        margin: 10px 10px 30px 10px;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
}  